exclude: ^archive/.*$
repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: HEAD
  hooks:
    - id: check-yaml
    - id: end-of-file-fixer
    - id: trailing-whitespace
- repo: https://github.com/gruntwork-io/pre-commit
  rev: HEAD
  hooks:
    - id: shellcheck
- repo: https://github.com/golangci/golangci-lint
  rev: HEAD
  hooks:
    - id: golangci-lint
      name: golangci-lint
      description: Fast linters runner for Go.
      entry: golangci-lint run --fix
      types: [go]
      language: golang
      pass_filenames: false
