# ag alias
alias ag='ag --hidden'

# bash aliases
alias b='source ~/.bashrc'
alias exti='exit'

# docker alias
# Rather than adding the current user to the `docker` group, which effectively
# makes the user equivalent with root, I am aliasing `docker` with `sudo
# docker`. More details can be found here about the implications of allowing
# users to directly run docker commands:
# https://docs.docker.com/engine/security/security/#docker-daemon-attack-surface
alias docker='sudo docker'

# emacs alias
alias e='emacs -nw'

# git aliases
alias ghist='git hist'
alias gprune='git remote prune origin'

# grep aliases
if [[ $(echo $0) == "bash" ]]; then
    alias grep='grep --color=auto -E'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# ls aliases
alias ls='ls -G'
alias ll='ls -alFG'
alias la='ls -AG'
alias lh='ls -alFhG'
alias l='ls -CFG'

# nmap aliases
alias nmap='nmap -oA $NMAP_LOGS/$(date +"%F-%I:%M:%S-%p") -vv'

# tmux aliases
alias t='tmux a'
alias tk='tmux kill-server'

# OS-specific aliases
if [[ $(uname) == Linux ]]; then
    # Mimic the mac pbpaste functionality.
    alias pbpaste='xclip -selection clipboard -o'
fi

if [[ $(uname -a) == *ARCH* ]]; then
   alias clean-packages='sudo pacman -Rns $(pacman -Qtdq)'
fi