# bash aliases
alias b='source ~/.bashrc'
alias exti='exit'

# emacs alias
alias e='emacs -nw'

# git aliases
alias ghist='git hist'
alias gprune='git remote prune origin'

# grep aliases
if [[ $(echo $0) == "bash" ]]; then
    alias grep='grep --color=auto -E'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# ls aliases
alias ls='ls -G'
alias ll='ls -alFG'
alias la='ls -AG'
alias lh='ls -alFhG'
alias l='ls -CFG'

# nmap aliases
alias nmap='nmap -oA $NMAP_LOGS/$(date +"%F-%I:%M:%S-%p") -vv'

# tmux aliases
alias t='tmux a'
alias tk='tmux kill-server'

# OS-specific aliases
if [[ $(uname) == Linux ]]; then
    # overwrite the emacs alias
    alias e='emacs-snapshot -nw'

    # Mimic the mac pbcopy/pbpaste functionality.
    alias pbcopy='xclip -selection clipboard'
    alias pbpaste='xclip -selection clipboard -o'
fi
