#!/bin/bash

# Set up miscellaneous variables.
export CODE=$HOME/src

# Set up the path.
export PATH=$HOME/bin:$PATH
export PATH=$HOME/.pyenv/bin:$PATH
export PATH=/usr/local/go/bin:$PATH

# Set up the go path.
export GOPATH=$HOME

# Set the default editor.
export EDITOR="emacs -nw"

# Set up an nmap log directory path.
export NMAP_LOGS=$HOME/.nmap/logs

# Export the path to the nix-config repo.
export NIX_CONFIG=$HOME/src/github.com/carterjones/nix-config

if [[ $(uname) == Linux ]]; then
    # Overwrite EDITOR for Linux.
    export EDITOR="emacs-snapshot -nw"
elif [[ $(uname) == Darwin ]]; then
    # Set up variables so the brew installation of openssl will work.
    export LDFLAGS=-L/usr/local/opt/openssl/lib
    export CPPFLAGS=-I/usr/local/opt/openssl/include
fi
