[core]
    editor = emacs -nw
[color]
    ui = true
[diff]
    color = true
[color "diff"]
    new = bold blue
    whitespace = normal yellow
[color "status"]
    changed = magenta
    untracked = bold yellow
[alias]
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
[push]
    default = simple
