[Unit]
Description=Fix function keys

[Service]
ExecStart=/bin/bash -c "echo 2 | tee /sys/module/hid_apple/parameters/fnmode"

[Install]
WantedBy=graphical.target
