#!/bin/bash

set -o pipefail

# Add the user's bin folder to the path.
export PATH=$PATH:~/bin

# Set up the go path.
export GOPATH=~/code/go

# Set up an nmap log directory path.
export NMAP_LOGS=~/.nmap/logs
