#!/bin/bash

# Set up miscellaneous variables.
export CODE=$HOME/src

# Set up the path.
export PATH=$HOME/bin:$PATH

# Set up the go path.
export GOPATH=$HOME

# Set up an nmap log directory path.
export NMAP_LOGS=$HOME/.nmap/logs
