# shellcheck shell=bash
# shellcheck disable=SC1009,SC1054,SC1073,SC1083

# ag alias
{{- if .IsManjaro }}
alias ag='ack-grep'
{{- end }}
alias ag='ag --hidden'

# bash aliases
alias b='source ~/.bashrc'
alias exti='exit'

# docker aliases
alias docker-rm-containers="docker kill $(docker ps -q); docker rm $(docker ps -aq)"
alias docker-rm-images="docker image rm $(docker image ls -q)"
alias docker-rm-rf="docker-rm-containers; docker-rm-images"

# emacs alias
if command -v emacs-snapshot &> /dev/null; then
   alias e='emacs-snapshot -nw'
else
   alias e='emacs -nw'
fi

# git aliases
alias gco='git checkout'
alias ghist='git hist'
alias gprune='git remote prune origin'
alias gfc='git diff-tree --no-commit-id --name-status -r HEAD'
alias groot='cd $(git rev-parse --show-toplevel)'

# grep aliases
if [[ $(echo $0) == "bash" ]]; then
    alias grep='grep --color=auto -E'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# ls aliases
alias l='ls -CFG'
alias la='ls -AG'
alias ld='ls -alFG | grep --color=never /'
alias lf='ls -alFG | grep -v /'
alias lh='ls -alFhG'
alias ll='ls -alFG'
alias ls='ls -G'

# nmap aliases
alias nmap='nmap -oA $NMAP_LOGS/$(date +"%F-%I:%M:%S-%p") -vv'

# silver searcher aliases
alias todo='ag -i todo --ignore-dir=vendor --ignore-dir=.git'

# tmux aliases
# t: attach to tmux if is running. otherwise, start tmux.
# tk: kill th tmux server
alias t="pgrep tmux && tmux a || tmux"
alias tk="tmux kill-server"

# vscode aliases
alias c='code'

# wine aliases
alias wine-steam-prep='export WINEARCH=win32; export WINEPREFIX=~/.wine-steam'

# OS-specific aliases
if [[ $(uname) == Linux ]]; then
    # Mimic the mac pbpaste functionality.
    alias pbpaste='xclip -selection clipboard -o'
fi

if [[ $(uname -a) == *MANJARO* ]]; then
   alias clean-packages='sudo pacman -Rns $(pacman -Qtdq)'
fi
