# https://twitter.com/francesc/status/982025296898478080
whoseport() { lsof -i ":$1" | grep LISTEN }

# Show which ports are listening.
listening() {
    if echo $(uname -a) | grep -q Linux; then
        # This only works with recent versions of ss.
        sudo ss -H -p -l -4 "sport = :$1"|sed "s/^.*pid=\(.*\),.*$/\1/"
    else
        lsof -PiTCP -sTCP:LISTEN
    fi
}

# Credit to https://github.com/thealanberman for these conversion functions.
json2yaml () {
    ruby -ryaml -rjson -e 'puts YAML.dump(JSON.parse(STDIN.read))' < "${1:-/dev/stdin}"
}
yaml2json () {
    ruby -ryaml -rjson -e 'puts JSON.pretty_generate(YAML.load(ARGF))' < "${1:-/dev/stdin}"
}

compresspdf() {
    if [ -z "$1" ]
    then
        echo "no input file specified"
    fi
    if [ -z "$2" ]
    then
        echo "no output file specified"
    fi
    # Quality level settings are:
    # - "/screen": lowest quality
    # - "/ebook": next highest quality
    # - "/printer": next highest quality
    # - "/prepress": next highest quality
    gs -dNOPAUSE -dBATCH -sDEVICE=pdfwrite -dCompatibilityLevel=1.4 -dPDFSETTINGS=/ebook -sOutputFile=$2 $1
}

# Remove many of the fancy POWERLEVEL9K visual indicators from the terminal.
minimal-terminal() {
    POWERLEVEL9K_PROMPT_ON_NEWLINE=false
    POWERLEVEL9K_LEFT_SEGMENT_SEPARATOR="$"
    POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=()
    POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=()
}
